   *{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1F3F6;
    overflow-x: hidden;
}

header{
    background-color: #2874F0;
}

.navi{
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
}

.navi li{
    list-style: none;
    margin-left: 20px;
    font-size: large;
    font-weight: 540;
    color: white;
    position: relative;
    left: 17%;
}

form{
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}

.search{
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 564px;
}

span{
    position: relative;
    display: flex;
    right: 142px;
}


.logo{
    width: 100px;
    margin-right: 10px;
}

.category{
    width: 100vw;
    background-color: white;
    border-bottom: 1.5px solid rgb(197, 196, 196);
    max-height: 111.8px;
}

.cat{
    height: 111.8px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.cat-items{
    color: black;
    display: inline;
    padding-bottom: 12px;
    font-weight: 550;
}

.cat-img{
    display: flex;
    justify-content:space-evenly;
    position: relative;
    top: 95px;
    left: 2px;
}

.cat-logo{
    color: black;
    display: inline;
    padding-bottom: 12px;
    font-weight: 550;
    margin-left: -62px;
}

.items-container{
    position: relative;
    top: -75px;
}

.slide{
    height: 280px;
    background-image: url("https://rukminim1.flixcart.com/flap/844/140/image/5115f03666807cf7.jpg?q=50");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 17px;
    display: flex;
}

.slide::after{
    width: 47px;
    height: 104px;
    content: "";
    position: absolute;
    align-self: center;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.slide::before{
    width: 47px;
    height: 104px;
    content: "";
    position: absolute;
    align-self: center;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    right: 8px;
}

.something{
    padding: 8px;
}

.deals{
    background-color: #fff;
    height: 362px;
    width: 1255.2px;
    float: left;
}
.br-1{
    background-image: url("https://rukminim1.flixcart.com/flap/464/708/image/633789f7def60050.jpg?q=70");
    background-repeat: no-repeat;
    background-size: contain;
    height: 362px;
    width: 238px;
    float: left;
    margin-left: 8px;
    border: 1px solid black;
    /* padding: 0px 0px 10px 10px; */
}

.dname,.doff, .dbrand, .dimg{
    display: flex;
    justify-content: space-evenly;
    
}
.dname-items,.doff-items, .dbrand-items, .dimgitems{
    list-style: none;
}

.deal-main{
    margin-top: 30px;
}

.dd{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.dd h2{
    margin-left: 5px;
    font-size: 1.8rem;
}


.btn{
    background-color: #2874F0;
    padding: 11.5px 25px;
    margin-right: 2px;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}
